@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    font-weight: 700;
    font-size: 4vh;
    text-align: center;
    line-height: 3.5rem;
  }
  p {
    text-align: center;
  }
  .Hero_section_info_button {
    text-align: center;
  }
  .Hero_img {
    padding-top: 5rem;
    background-color: #e7f7fb;
  }
  .Services_section {
    padding-top: 8rem;
  }
  .Services_section_Out_cart {
    padding-top: -10px;
  }
  #ViewAllbtn {
    text-align: center;
  }
}
